body {
    width: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 0;
}

h2, h3, h4, h5, h6 {
    margin: 0;
}

.header {
    background-color: #F58021;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin: 28px 0;
}

.header__nav {
    display: flex;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    text-transform: uppercase;
    color: #000000;
}

.header__menu {
    width: 556px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.header__menu-item {
    list-style: none;
}

.header__menu-link {
    color: #000000;
}

.link__active {
    color: #00A092;
    pointer-events: none;
}

.header__social {
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-left: 65px;
}

.header__social-item {
    list-style: none;
}

.header__social-link {
    display: block;
    width: 40px;
    height: 40px;
}

.social__youtube {
    background-image: url('../../../assets/icons/YouTube.svg');
}

.social__instagram {
    background-image: url('../../../assets/icons/Instagram.svg');
}

.social__facebook {
    background-image: url('../../../assets/icons/Facebook.png');
}

.main {
    position: relative;
}

.sidebar {
    width: 220px;
    position: absolute;
    height: 100%;
    z-index: 5;
}

.sidebar-wrapper {
    position: sticky;
    top: 0;
    left: 0;
    max-width: 210px;
    display: flex;
    flex-direction: column;
    background-color: #20113D;
}


.sidebar__btn-top {
    display: flex;
    justify-content: flex-end;
    padding: 30px 30px 35px 0;
    border-bottom: 1px solid #FFFFFF;
    position: relative;
}

.sidebar__badge {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 38px;
    background: #F58021;
    border-radius: 0 0 5px 0;
    padding-left: 10px;
    padding-right: 20px;
}

.sidebar__badge-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 10px;
}

.sidebar__animals {
    display: flex;
    flex-direction: column;
}

.sidebar__block {
    padding: 25px 27px 25px 23px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-bottom: 1px solid #FFFFFF;
}

.sidebar__animal {
    margin: 0 auto;
    padding: 5px;
}

.sidebar__animal-img {
    width: 104px;
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #F58021;
}

.sidebar__animal-border {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    margin: -8px;
    border: 4px solid #20113D;
    border-radius: 50%;
    background-origin: content-box;
}
.sidebar__animal-img:hover {
    background: #FFFFFF;
}

.sidebar__animal-border:hover {
    border-color: #FFFFFF;
}

.sidebar__block-active .sidebar__animal-img {
    background: #FFFFFF;
}
.sidebar__block-active .sidebar__animal-border{
    border-color: #FFFFFF;
}

.sidebar__block-active .sidebar__animal {
    pointer-events: none;
}

.sidebar__block-active {
    order: -5;
}

.sidebar__btn-bottom {
    display: flex;
    justify-content: center;
    padding: 35px 102px;
}

.live-cams__top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 170px;
}

.btn-orange {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 36px 26px 30px;
    width: 240px;
    height: 74px;
    background: #F58021;
    border-radius: 5px;
    outline: none;
    border: none;
}

.btn-orange:hover {
    background: #D26004;
}

.btn-orange:active {
    background: #D26004;
}

.btn__link {
    display: flex;
}

.btn__text {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 10px;
}

.btn__img {
    width: 24px;
    height: 22px;
}


.live-cams__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 26px 30px;
    width: 240px;
    height: 74px;
    background: #F58021;
    border-radius: 5px;
    margin-left: 198px;
}

.live-cams__btn:hover,
.live-cams__btn:active {
    background: #D26004;
    box-shadow: 0 4px 30px rgba(245, 128, 33, 0.3);
}

.live-cams__heading {
    /*width: 524px;*/
    font-weight: 600;
    font-size: 54px;
    line-height: 66px;
    text-transform: uppercase;
    color: #00A092;
}

.video-big {
    margin-bottom: 94px;
}

.live-cams__slider {
    width: 1210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 155px;
    padding-bottom: 150px;
}

.live-cams__slider-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 42px;
    line-height: 51px;
    text-transform: uppercase;
    color: #000000;
    padding-bottom: 30px;
}

.live-cams__slider-btn {
    border: none;
    background: #FFFFFF;
    width: 60px;
    height: 60px;
}

.live-cams__slider-btn:hover {
    cursor: pointer;
    border: 1px solid #20113D;
    border-radius: 5px;
}

.live-cams__slider-video {
    position: relative;
    border-radius: 5px;
}

.dummy {
    position: absolute;
    top: 0;
    width: 320px;
    height: 209px;;
    background-color: rgba(133, 133, 133, 0.5);
    z-index: 2;
    border-radius: 5px;
}

.dummy__badge {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 189px;
    height: 44px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 5px 0;
}

.dummy__badge-text {
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    text-transform: uppercase;
    padding-right: 10px;
}

.quick-donate {
    background: #20113D;
    color: #FFFFFF;
    margin-bottom: 150px;
}

.quick-donate__wrap {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.quick-donate__article {
    display: flex;
    flex-direction: column;
}

.quick-donate__title {
    padding-bottom: 15px;
    font-weight: 500;
    font-size: 42px;
    line-height: 51px;
    text-transform: uppercase;
}

.quick-donate__text {
    width: 919px;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    margin: 0;
}

.quick-donate__aside {
    display: flex;
    flex-direction: column;
}

.quick-donate__subtitle {
    font-weight: 500;
    font-size: 26px;
    line-height: 130%;
    margin: 0;
    padding-bottom: 10px;
}

.quick-donate__form {
    display: flex;
    position: relative;
}

.quick-donate__form::before {
    position: absolute;
    content: "$";
    top: 26px;
    left: 15px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.quick-donate__input {
    width: 240px;
    height: 74px;
    border: 1px solid #FFFFFF;
    border-radius: 5px 0 0 5px;
    border-right: none;
    color: #FFFFFF;
    font-size: 23px;
    line-height: 27px;
    text-transform: uppercase;
    outline: none;
    background: transparent;
    padding-left: 30px;
    position: relative;
}

.quick-donate__input::placeholder {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

.quick-donate__input:focus::placeholder {
    color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quick-donate__btn {
    width: 80px;
    height: 74px;
    background: #F58021;
    outline: none;
    border: 1px solid #FFFFFF;
    border-radius: 0 5px 5px 0;
    border-left: none;
}

.quick-donate__btn:hover {
    background: #D26004;
}

.quick-donate__btn:active {
    background: #D26004;
}

.did-you-know__shadow-box {
    width: 1040px;

    background: #FFFFFF;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-bottom: 148px;
    margin-left: 240px;
    text-align: center;
    padding: 40px 60px;
}

.did-you-know__title {
    font-weight: 500;
    font-size: 42px;
    line-height: 51px;
    text-transform: uppercase;
    color: #00A092;
    margin: 0;
}

.did-you-know__text {
    font-weight: 500;
    font-size: 26px;
    line-height: 130%;
    color: #000000;
}

.did-you-know__info-wrap {
    display: flex;
    width: 1160px;
    justify-content: space-between;
    color: #000000;
}

.did-you-know__info-description {
    width: 600px;
}

.did-you-know__info {
    display: flex;
    align-items: baseline;
    margin-bottom: 25px;
}

.did-you-know__info-title {
    font-weight: 500;
    font-size: 26px;
    line-height: 130%;
    padding-right: 20px;
}

.did-you-know__info-subtitle {
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
}

.did-you-know__info__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 74px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #F58021;
    padding-right: 10px;
    padding-left: 20px;
}

.did-you-know__info__btn:hover {
    background: #F58021;
    border-radius: 5px;
    color: #FFFFFF;
}

.did-you-know__info__btn:hover svg path {
    fill: #FFFFFF;
}

.did-you-know__info__btn-text {
    margin-right: 10px;
}

.did-you-know__info-img {
    width: 440px;
    height: 440px;
}

.did-you-know__info-text {
    width: 1160px;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    margin: 40px 0 0 0;
    padding-bottom: 150px;
}

.footer {
    background: #20113D;
    color: #FFFFFF;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 65px 0;
    border-bottom: 1px solid #FFFFFF;;
}


.footer__logo-link:not(:first-child) {
    margin-left: 65px;
    cursor: default;
}


.footer__nav-list {
    display: flex;
    justify-content: space-between;
    width: 426px;
    list-style: none;
    padding: 0;
}

.footer__nav-list__item-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer__nav-list__item-link:hover {
    color: #F58021;
}

.footer__btn {
    display: flex;
    justify-content: space-between;
    padding: 26px 35px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    width: 359px;
    height: 74px;
    color: #FFFFFF;
}


.footer__btn-text {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.footer__copyright {
    display: flex;
    width: 448px;
    justify-content: space-between;
}

.footer__copyright-item {
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    user-select: none;
}

.footer__social {
    width: 235px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__social-item {
    list-style: none;
}

.footer__social-link {
    display: block;
    width: 40px;
    height: 40px;
}





























